.tipsBox{
  background-color: rgb(0, 73, 77);
  width: 6.25rem;
  border-radius:0.5rem;
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin:10px;
  cursor: pointer;
  &-change{
    background-color:hsl(185.3, 41.5%, 83.9%);
    color: hsl(183.1, 100%, 15.1%);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  
}